.researchimgcontainer {
  display: table;
  margin: 0 auto;
}

.researchimg {
  float: left;
  width: 250px;
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.collabcontainer {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  margin: 0 0;
}

.collabcontainer ul {
  list-style: disc;
  padding-left: 4%;
}

.collab {
  width: 100%;
}

.collableft {
  float: left;
  width: 80%
}

.collabright {
  text-align: center;
  float: right;
}